<div class="contain-back">
  <br>
  <br>
  <br>
  <br>
  <div class="contain-text">
    <br>
    <h1> About Noted </h1>
    <p> Hi! Noted is <a href="https://github.com/eadysr"> my</a> side-project.
        The idea behind it is to keep track of all the films I've watched and books
        I've read, inclduing dates and reviews which previously lived on Excel
        spreadsheets and Goodreads. Noted is currently a work in progress, but do feel
        free to take a look around and let me know if you have any suggestions.
        Eventually I'm looking to add a travelling section too, and some kind of
        friend/share system. </p>
    <p> 🌷 Thank you for visiting 🌷 </p>
    <br>
  </div>
</div>



