<div class="contain-back">
  <br>
  <br>
  <br>
  <br>
  <div class="contain-text">
    <br>
    <h1> Your books </h1>
    <div class="book-index-display">
      <% @books.each do |book| %>
        <div class="book-index-card">
          On <strong><%= book.read_date %> </strong>you finished <strong><%= book.title %></strong>
        </div>
      <% end %>
    </div>
    <br>
    <br>
    <%= link_to "Add a new book", new_user_book_path(current_user) %> |
    <%= link_to "Back to user page", user_path(current_user) %>
  </div>
</div>






