<div class="contain-back">
  <br>
  <br>
  <br>
  <br>
  <div class="contain-text">
    <br>
    <h1> Your books </h1>
    <%= @books %>
    <br>
    <br>
    <%= link_to "Back to user page", user_path(current_user) %>
  </div>
</div>






