<div class="contain-back">
  <br>
  <br>
  <br>
  <br>
  <div class="contain-text">
    <br>
    <h1> Your books </h1>
    <% @books.each do |book| %>
      <li> 📖 <%= book.title %> - <%= book.read_date %></li>
    <% end %>
    <br>
    <br>
    <%= link_to "Add a new book", new_user_book_path(current_user) %>
    <%= link_to "Back to user page", user_path(current_user) %>
  </div>
</div>






