.navbar-lewagon {
  justify-content: space-around;
  background-image: linear-gradient(90deg, #fcd5ce, #8ecae6);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon a {
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}


.navbar-lewagon a:hover {
  color: #d8e2dc;
  transition: 1s;
}

.navbar-light a:hover {
 color: #264653;
}
